<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="news">
      <ion-icon name="flash"></ion-icon>
      <ion-label>Top News</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="category">
      <ion-icon name="apps"></ion-icon>
      <ion-label>Category</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="country">
      <ion-icon name="send"></ion-icon>
      <ion-label>Country</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="source">
      <ion-icon name="albums"></ion-icon>
      <ion-label>Sources</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>